{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "plugins": [],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:security/recommended",
        "prettier"
      ],
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {}
    }
  ]
}
